<h1><%= t('questions.index.title') %></h1>
<%= link_to t('questions.index.create_question'), new_question_path, class: 'btn btn-primary' %>
<%= link_to t('questions.index.all_questions'), questions_path, class: 'btn btn-primary' %>
<%= link_to t('questions.index.unresolved_questions'), questions_path(filter: 'unresolved'), class: 'btn btn-primary' %>
<%= link_to t('questions.index.resolved_questions'), questions_path(filter: 'resolved'), class: 'btn btn-primary' %>
<%= link_to t('questions.index.my_questions'), questions_path(filter: 'my_questions'), class: 'btn btn-primary' %>
<%= link_to t('questions.index.answered_questions'), questions_path(filter: 'answered'), class: 'btn btn-primary' %>
<table class="table">
  <thead>
    <tr>
      <th><%= t('questions.index.subject') %></th>
      <th><%= t('questions.index.content') %></th>
      <th><%= t('questions.index.author') %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.subject, question_path(question) %></td>
        <td><%= truncate(question.content, length: 100) %></td>
        <td><%= question.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
