<h1><%= t('questions.new.title') %></h1>
<%= form_with(model: @question, local: true) do |form| %>
  <div>
    <%= form.label :subject, t('questions.new.subject') %>
    <%= form.text_field :subject, class: 'form-control' %>
  </div>
  <div>
    <%= form.label :content, t('questions.new.content') %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>
  <%= form.submit t('questions.new.submit'), class: 'btn btn-primary' %>
<% end %>
