<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>

<div class="top-wrapper">
  <div class="top-inner-text">
    <h1><%= t('static_pages.top.title') %></h1>
    <h2><%= t('static_pages.top.coordination_title') %></h2>
    <p><%= t('static_pages.top.coordination_description') %></p>
    <button><%= t('static_pages.top.learn_more_button') %></button>
    <section>
      <h3><%= t('static_pages.top.goal_and_questions_title') %></h3>
      <button><%= t('static_pages.top.set_goal_button') %></button>
      <button><%= t('static_pages.top.ask_question_button') %></button>
    </section>
  </div>
</div>