<%= form_with model: @user, url: password_reset_path(@user.reset_password_token), method: :patch, data: { turbo: false } do |f| %>
    <div class="mb-3">
      <%= f.label :password, "新しいパスワード" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
  
    <div class="mb-3">
      <%= f.label :password_confirmation, "新しいパスワード（確認用）" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  
    <%= f.submit "更新", class: "btn btn-primary" %>
<% end %>