<p><%= t("user_mailer.reset_password_email.greeting", name: @user.name) %></p>
<p>===============================================</p>

<p><%= t("user_mailer.reset_password_email.description") %></p>

<p><%= t("user_mailer.reset_password_email.instruction") %></p>
<p><a href="<%= @url %>"><%= @url %></a></p>
