<%= form_with model: @sheet, url: sheets_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title, t('sheet.new.title') %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <div id="evaluation-items">
    <% @evaluation_departments.each_with_index do |item, index| %>
      <div class="form-group">
        <label for="evaluation_item_<%= index %>"><%= item.name %></label>
        <input type="hidden" name="evaluation_items[][evaluation_department_id]" value="<%= item.id %>">
        <textarea id="evaluation_item_<%= index %>" name="evaluation_items[][goal]" class="form-control" placeholder=<%= t('sheet.new.goal_placeholder') %> required></textarea>
      </div>
    <% end %>
  </div>

  <button type="submit" class="btn btn-primary"><%= t('sheet.new.submit') %></button>
<% end %>
  