<div class="row">
    <!-- 棒グラフのプレースホルダー -->
    <h2><%= @sheet.title %></h2>
    <%= line_chart radar_chart_data_with_history(@sheet), max: 10, height: "400px" %>
</div>




<div class="flex">
  <!-- 目標を右側に表示 -->
  

  <!-- 目標を右側に表示 -->
  <div class="ml-4">
    <h3>目標</h3>
    <% @sheet.goals.each do |goal| %>
      <p><strong><%= goal.evaluation_department.name %>:</strong> <%= goal.value %></p>
    <% end %>
  </div>
</div>






<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <canvas id="myChart"></canvas>
</body>

</html>

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>チャート</h1>
    <canvas id="myChart"></canvas>
</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script>
    var ctx = document.getElementById("myChart");

    var myChart = new Chart(ctx, {
        // グラフの種類
        type: 'radar',
        // データの設定
        data: {
            // データ項目のラベル
            labels: <%= @labels.to_json.html_safe %>,
            // データセット
            datasets: [
                <% @scores.each_with_index do |score, index| %>
                {
                    label: "<%= score[:date] %> の分析",
                    // 背景色
                    backgroundColor: "<%= @colors[index % @colors.size] %>",
                    // 枠線の色
                    borderColor: "<%= @colors[index % @colors.size].sub('0.5', '1') %>",
                    // 結合点の背景色
                    pointBackgroundColor: "<%= @colors[index % @colors.size].sub('0.5', '1') %>",
                    // 結合点の枠線の色
                    pointBorderColor: "#fff",
                    // 結合点の背景色（ホバ時）
                    pointHoverBackgroundColor: "#fff",
                    // 結合点の枠線の色（ホバー時）
                    pointHoverBorderColor: "<%= @colors[index % @colors.size].sub('0.5', '1') %>",
                    // 結合点より外でマウスホバーを認識する範囲（ピクセル単位）
                    hitRadius: 5,
                    // グラフのデータ（各日付ごとのデータを表示）
                    data: <%= score[:values].to_json.html_safe %>
                }<%= ',' unless index == @scores.size - 1 %>
                <% end %>
            ]
        },
        // オプションの設定
        options: {
            // レスポンシブ指定
            responsive: true,
            maintainAspectRatio: false,
            scale: {
                ticks: {
                    // 最小値の値を0指定
                    beginAtZero: true,
                    min: 0,
                    stepSize: 1,
                    // 最大値を指定
                    max: 10,
                },
                pointLabels: {
                    fontSize: 10
                }
            },
            // ラベル非表示
            legend: {
                fontSize: 10,
                labels: {
                    fontSize: 14,
                }
            }
        }
    });
</script>
