<div class="container my-5">
  <h1 class="text-center mb-4">マイページ</h1>

  <div class="row">
    <!-- 左側: レーダーグラフのプレースホルダー -->

    <h2>レーダーグラフ</h2>
  <div data-controller="radar-chart" data-sheets="<%= @radar_chart_data.to_json %>">
    <% @sheets.each_with_index do |sheet, index| %>
      <h3><%= sheet.title %></h3>
      <canvas id="radarChart-<%= index %>" width="400" height="400"></canvas>
    <% end %>
  </div>




    <!-- 右側: リンク一覧 -->
    <div class="col-md-6">
      <div class="list-group">
        <a href="<%= new_sheet_path %>" class="list-group-item list-group-item-action">
          シートを追加する
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          目標の変更をする
        </a>
        
        <% @sheets.each do |sheet| %>
          <%= link_to "結果を入力する: #{sheet.title}", sheet_evaluation_scores_path(sheet), class: 'list-group-item list-group-item-action' %>
        <% end %>


        <% @sheets.each do |sheet| %>
          <a href="<%= sheet_path(sheet) %>" class="list-group-item list-group-item-action">
            経過を確認する: <%= sheet.title %>
          </a>
        <% end %>
        <a href="#" class="list-group-item list-group-item-action">
          グラフをダウンロードする
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          シートを削除する
        </a>
      </div>
    </div>
  </div>
</div>