<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-3">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <%= image_tag "STEPS_logo_2.png", alt: "STEPS", height: "50" %>
      <% end %>

      <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <%= link_to t("header.after_login.coordination_description"), coordination_path, class: "nav-link fw-bold text-dark px-3" %>
          </li>
          <li class="nav-item">
            <%= link_to t("header.before_login.question_record"), login_path, class: "nav-link fw-bold text-dark px-3" %>
          </li>
          <li class="nav-item">
            <%= link_to t("header.before_login.login"), login_path, class: "btn btn-outline-primary fw-bold mx-2" %>
          </li>
          <li class="nav-item">
            <%= link_to t("header.before_login.register"), new_user_path, class: "btn btn-primary fw-bold mx-2" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
