<h1><%= t('question_responses.edit.title') %></h1>
<%= form_with(model: [@response.question, @response], local: true) do |form| %>
  <div>
    <%= form.label :subject, t('question_responses.edit.subject') %>
    <%= form.text_field :subject, class: 'form-control' %>
  </div>
  <div>
    <%= form.label :content, t('question_responses.edit.content') %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>
  <%= form.submit t('question_responses.edit.submit'), class: 'btn btn-primary' %>
<% end %>
